{% extends 'layout.html' %}

{% block content %}

<div class="container any-section">
    <div> <h1 class="text-center page-head"> About Us </h1> </div>
    <div class="row">
        <div class="col-md-6">
            <br><br>
            <p class="about-para">The main aim of our Calculus ITS with the intention of assisting students who struggle to understand calculus online on their own and whose parents also have a hard time instructing them to study on their own even with professional help. This is particularly crucial now when the global spread of the COVID-19 epidemic has made it impossible for primary school students to meet face-to-face for instruction. In our Calculus ITS, we solely concentrate on calculus since according to the findings of a number of previous research it is both highly challenging and very necessary to begin learning calculus at an early stage in one's educational endeavors.</p>
        </div>
        <div class="col-md-6">
            <img src="/static/images/about.JPG" class="w-100"/>
        </div>
    </div>
</div>

{% endblock content %}