{% extends 'layout2.html' %}

{% block content %}

   <div class="p-3 pt-4 bg-white">
        <div class="row">
            <div class="col-6">
                <h2> Dashboard </h2>
            </div>
            <div class="col-6" style=" text-align: right; ">
                <a class="my-btn"> Logout </a>
            </div>
        </div>
    </div>

    <div class="dashboard-options">
        <div class="row">
            <div class="col-md-4">
                <div class="card p-4 text-center" style="display: block;">
                    <h4> Differential Calculus </h4>
                    <img src="/static/images/c1.JPG" width="90%"/>
                    <div>
                        <div class="row p-2 mt-2">
                            <div class="col-6 text-center">
                                <a href="/course" class="my-btn" style="padding: 7px 5px;"> Details </a>
                            </div>
                            <div class="col-6 text-center">
                                <a href="" class="my-btn" style="padding: 7px 5px;"> Add to cart </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-4 text-center" style="display: block;">
                    <h4> CIntegral Calculus </h4>
                    <img src="/static/images/c2.JPG" width="90%"/>
                    <div>
                        <div class="row p-2 mt-2">
                            <div class="col-6 text-center">
                                <a href="/course" class="my-btn" style="padding: 7px 5px;"> Details </a>
                            </div>
                            <div class="col-6 text-center">
                                <a href="" class="my-btn" style="padding: 7px 5px;"> Add to cart </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-4 text-center" style="display: block;">
                    <h4> Interdisciplinary Areas</h4>
                    <img src="/static/images/c3.JPG" width="90%"/>
                    <div>
                        <div class="row p-2 mt-2">
                            <div class="col-6 text-center">
                                <a href="/course" class="my-btn" style="padding: 7px 5px;"> Details </a>
                            </div>
                            <div class="col-6 text-center">
                                <a href="" class="my-btn" style="padding: 7px 5px;"> Add to cart </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}