{% extends 'layout.html' %}

{% block content %}

<div class="container any-section">
    <div> <h1 class="text-center page-head"> Calculus 1 </h1> </div>
    <table class="table table-bordered table-stripped mb-4">
        <tr style=" background-color: #d9d9d9; ">
            <td>
                <img src="/static/images/earth.JPG"/>
            </td>
        </tr>
        <tr>
            <td>
                <div class="row">
                    <div class="col-md-6">
                        <p> Limits intro </P>
                        <p> Estimating limits from graphs </P>
                        <p> Estimating limits from table </P>
                        <p> Formal defination of limits (epsilon-delta) </P>
                        <p> Properties of limits </p>
                        <p> Limits by direct substitution </p>
                        <p> Limits using algebraic manipulation </p>
                        <p> Strategy in finding limits </p>
                    </div>
                    <div class="col-md-6">
                        <p> Limits intro </P>
                        <p> Types of disconinuities </P>
                        <p> Continuity at a point                        </P>
                        <p> Contiunity over an interval </P>
                        <p> Remmoving discontinuities </p>
                        <p> Infinite limits </p>
                        <p> Limits at infinity </p>
                        <p> Intermediate value theorem </p>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <table class="table table-bordered table-stripped mb-4">
        <tr style=" background-color: #d9d9d9; ">
            <td>
                <img src="/static/images/earth.JPG"/>
            </td>
        </tr>
        <tr>
            <td>
                <div class="row">
                    <div class="col-md-6">
                        <p> Limits intro </P>
                        <p> Estimating limits from graphs </P>
                        <p> Estimating limits from table </P>
                        <p> Formal defination of limits (epsilon-delta) </P>
                        <p> Properties of limits </p>
                        <p> Limits by direct substitution </p>
                        <p> Limits using algebraic manipulation </p>
                        <p> Strategy in finding limits </p>
                    </div>
                    <div class="col-md-6">
                        <p> Limits intro </P>
                        <p> Types of disconinuities </P>
                        <p> Continuity at a point                        </P>
                        <p> Contiunity over an interval </P>
                        <p> Remmoving discontinuities </p>
                        <p> Infinite limits </p>
                        <p> Limits at infinity </p>
                        <p> Intermediate value theorem </p>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <table class="table table-bordered table-stripped mb-4">
        <tr style=" background-color: #d9d9d9; ">
            <td>
                <img src="/static/images/earth.JPG"/>
            </td>
        </tr>
        <tr>
            <td>
                <div class="row">
                    <div class="col-md-6">
                        <p> Limits intro </P>
                        <p> Estimating limits from graphs </P>
                        <p> Estimating limits from table </P>
                        <p> Formal defination of limits (epsilon-delta) </P>
                        <p> Properties of limits </p>
                        <p> Limits by direct substitution </p>
                        <p> Limits using algebraic manipulation </p>
                        <p> Strategy in finding limits </p>
                    </div>
                    <div class="col-md-6">
                        <p> Limits intro </P>
                        <p> Types of disconinuities </P>
                        <p> Continuity at a point                        </P>
                        <p> Contiunity over an interval </P>
                        <p> Remmoving discontinuities </p>
                        <p> Infinite limits </p>
                        <p> Limits at infinity </p>
                        <p> Intermediate value theorem </p>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <table class="table table-bordered table-stripped mb-4">
        <tr style=" background-color: #d9d9d9; ">
            <td>
                <img src="/static/images/earth.JPG"/>
            </td>
        </tr>
        <tr>
            <td>
                <div class="row">
                    <div class="col-md-6">
                        <p> Limits intro </P>
                        <p> Estimating limits from graphs </P>
                        <p> Estimating limits from table </P>
                        <p> Formal defination of limits (epsilon-delta) </P>
                        <p> Properties of limits </p>
                        <p> Limits by direct substitution </p>
                        <p> Limits using algebraic manipulation </p>
                        <p> Strategy in finding limits </p>
                    </div>
                    <div class="col-md-6">
                        <p> Limits intro </P>
                        <p> Types of disconinuities </P>
                        <p> Continuity at a point                        </P>
                        <p> Contiunity over an interval </P>
                        <p> Remmoving discontinuities </p>
                        <p> Infinite limits </p>
                        <p> Limits at infinity </p>
                        <p> Intermediate value theorem </p>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <table class="table table-bordered table-stripped mb-4">
        <tr style=" background-color: #d9d9d9; ">
            <td>
                <img src="/static/images/earth.JPG"/>
            </td>
        </tr>
        <tr>
            <td>
                <div class="row">
                    <div class="col-md-6">
                        <p> Limits intro </P>
                        <p> Estimating limits from graphs </P>
                        <p> Estimating limits from table </P>
                        <p> Formal defination of limits (epsilon-delta) </P>
                        <p> Properties of limits </p>
                        <p> Limits by direct substitution </p>
                        <p> Limits using algebraic manipulation </p>
                        <p> Strategy in finding limits </p>
                    </div>
                    <div class="col-md-6">
                        <p> Limits intro </P>
                        <p> Types of disconinuities </P>
                        <p> Continuity at a point                        </P>
                        <p> Contiunity over an interval </P>
                        <p> Remmoving discontinuities </p>
                        <p> Infinite limits </p>
                        <p> Limits at infinity </p>
                        <p> Intermediate value theorem </p>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>



{% endblock content %}