{% extends 'layout.html' %}

{% block content %}

   <div class="container banner-section">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/images/Capture.PNG" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title card-title-text">For every student, every classroom. Real results.</h3>
          <p class="card-text">We’re a world class with the mission to provide a, professional
            education for anyone, anywhere </p>
          <a href="#" class="btn btn-primary">Registor</a>

        </div>
      </div>
    </div>
  </div>

  <div class=" container border-line"> </div>

  <div class="container section-2">
        <div class="row">
                <div class="col-md-4" >
                    <div class="card">
                        <img src="/static/images/Capture1.PNG" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Personalized learning</h5>
                            <p class="card-text">Students practice at their own pace, first
                            filling in gaps in their understanding and then accelerating their learning.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" >
                    <div class="card">
                        <img src="/static/images/Capture2.PNG" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Trusted content</h5>
                            <p class="card-text">Created by experts,Calculus ITS library of trusted practice and
                            lessons covers math,Calculus, Always free for learners and teachers
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" >
                    <div class="card">
                        <img src="/static/images/Capture3.PNG" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Tools to empower teachers</h5>
                            <p class="card-text">With our system,teachers can identify gaps in their students understanding, tailor
                            instruction, and meet the needs of every student</p>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <div class=" container border-line"> </div>

    <div class="container section-3">
        <div class="row">
            <div class="card text-bg-dark mb-3 container" style="max-width: 18rem;">
                <a href="/course-content">
                    <div class="card-header">calculs</div>
                    <div class="card-body">

                        <p class="card-text"> 
                        The two main types are differential calculus and integral 
                        calculus.</p>
                    </div>
                </a>
            </div>

            <div class="card text-bg-dark mb-3 container" style="max-width: 18rem;">
                <a href="/course-content">
                <div class="card-header">Video tutorials</div>
                <div class="card-body">
                
                    <p class="card-text">Every single lesson cover with Explanation video. A 
                    particular method or system of calculation or reasoning</p>
                </div>
                </a>
            </div>

            <div class="card text-bg-dark mb-3 container" style="max-width: 18rem;">
                <a href="/course-content">
                <div class="card-header">Test</div>
                <div class="card-body">
                    
                    <p class="card-text">After every students have to test her learning skill by assignning 
                    execrise by quiz</p>
                </div>
                </a>
            </div>
        </div>
  </div>

{% endblock content %}