{% extends 'layout.html' %}

{% block content %}

<div class="container any-section">
    
    <div>
        <div class="select-course">
            <div> <h1 class="page-head"> Welcome SHAN, Lets start quiz </h1> </div>
            <h2> Select Course </h2>
            <br>
            <select class="form-control">
                <option value="Calculus 1"/> Calculus 1 </option>
            </select>
            <br>
            <select class="form-control">
                <option value="Calculus 1"/> Calculus 1 </option>
            </select>
            <br>
            <select class="form-control">
                <option value="Calculus 1"/> Calculus 1 </option>
            </select>
            <br>
            <div class="text-center"> 
            <a class="btn btn-success" href="/start-quiz"> Start Quiz </a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}