{% extends 'layout.html' %}

{% block content %}

<div class="container any-section">
    <div> <h1 class="text-center page-head"> Calculus 1 </h1> </div>
    <div class="quiz">
        <div class="question mb-4">
            <table class="table table-bordered">
                <tr> <th> 1. What is the limit of sin(θ)/θ when θ approaches zero?  </th> </tr>
                <tr> <td> A. 1  </td> </tr>
                <tr> <td> B. sin(θ)  </td> </tr>
                <tr> <td> C. 0  </td> </tr>
                <tr> <td> D. None of these  </td> </tr>
            </table>
        </div>
        <div class="question mb-4">
            <table class="table table-bordered">
                <tr> <th> 2. What will be the condition for L’Hôpital’s Rule to work?</th> </tr>
                <tr> <td> A. The function must possess at least three non-zero derivatives </td> </tr>
                <tr> <td> B. The function must be determinate. </td> </tr>
                <tr> <td> C. The function must be indeterminate.  </td> </tr>
                <tr> <td> D. The function must be inconsistent.  </td> </tr>
            </table>
        </div>
        <div class="question mb-4">
            <table class="table table-bordered">
                <tr> <th> 3. What is the limit of sin(θ)/θ when θ approaches zero?  </th> </tr>
                <tr> <td> A. 1  </td> </tr>
                <tr> <td> B. sin(θ)  </td> </tr>
                <tr> <td> C. 0  </td> </tr>
                <tr> <td> D. None of these  </td> </tr>
            </table>
        </div>
        <div class="question mb-4">
            <table class="table table-bordered">
                <tr> <th> 4. What will be the condition for L’Hôpital’s Rule to work?</th> </tr>
                <tr> <td> A. The function must possess at least three non-zero derivatives </td> </tr>
                <tr> <td> B. The function must be determinate. </td> </tr>
                <tr> <td> C. The function must be indeterminate.  </td> </tr>
                <tr> <td> D. The function must be inconsistent.  </td> </tr>
            </table>
        </div>
        <div class="question mb-4">
            <table class="table table-bordered">
                <tr> <th> 5. What is the limit of sin(θ)/θ when θ approaches zero?  </th> </tr>
                <tr> <td> A. 1  </td> </tr>
                <tr> <td> B. sin(θ)  </td> </tr>
                <tr> <td> C. 0  </td> </tr>
                <tr> <td> D. None of these  </td> </tr>
            </table>
        </div>
        <div class="question mb-4">
            <table class="table table-bordered">
                <tr> <th> 6. What will be the condition for L’Hôpital’s Rule to work?</th> </tr>
                <tr> <td> A. The function must possess at least three non-zero derivatives </td> </tr>
                <tr> <td> B. The function must be determinate. </td> </tr>
                <tr> <td> C. The function must be indeterminate.  </td> </tr>
                <tr> <td> D. The function must be inconsistent.  </td> </tr>
            </table>
        </div>
    </div>
</div>

{% endblock content %}